uWSGI
flask~=2.0.2
flask_sqlalchemy
flask_marshmallow
SQLAlchemy~=1.4.29
PyJWT
flask_jwt_extended
uuid~=1.30
werkzeug~=2.0.2
flask-restx
Flask-WTF
wtforms
marshmallow
Flask-CORS
boto3~=1.20.26
Pillow~=8.4.0
python-dotenv~=0.19.2
faker~=11.1.0
pymysql
marshmallow-sqlalchemy
Flask-Migrate
requests~=2.27.1
click~=8.0.3