<!doctype html>
<html lang="ja" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <header>
        <div>
            <h3>Enqueter</h3>
        </div>
    </header>

    <h1>Hi, {{name}}. Welcome to Enqueter</h1>
    <p>Please click the link to activate your account.</p>
    <span>
        <a href="{{link}}">activate</a>
    </span>

    <footer>
        <p>@ 2022 - Enqueter</p>
    </footer>
</body>

</html>